h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #222;
}

.background-pattern {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: ; */
  z-index: 1;
}

div {
  z-index: 2;
}

@tailwind base;

@tailwind components;

@tailwind utilities;
